# Import Relevant Packages

In [1]:
# Import everything
import numpy as np
import pandas as pd
import data_prep_functions as dat
import fp_plotting as fpp
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib.colors import LogNorm
from scipy.signal import periodogram
from scipy.signal import welch
from scipy.stats import chi2
import os

In [2]:
# Import all years of thermistor data
depth = [0,5,13,21]
therm_0 = dat.therm_data_merge('Thermistor', 2000, depth)
therm_1 = dat.therm_data_merge('Thermistor', 2001, depth)
therm_2 = dat.therm_data_merge('Thermistor', 2002, depth)
therm_3 = dat.therm_data_merge('Thermistor', 2003, depth)
therm_4 = dat.therm_data_merge('Thermistor', 2004, depth)
therm_5 = dat.therm_data_merge('Thermistor', 2005, depth)
therm_6 = dat.therm_data_merge('Thermistor', 2006, depth)
therm_7 = dat.therm_data_merge('Thermistor', 2007, depth)
therm_8 = dat.therm_data_merge('Thermistor', 2008, depth)
therm_9 = dat.therm_data_merge('Thermistor', 2009, depth)
therm_10 = dat.therm_data_merge('Thermistor', 2010, depth)
therm_11 = dat.therm_data_merge('Thermistor', 2011, depth)

In [3]:
therm_avg = pd.concat([therm_0,therm_1,therm_2,therm_3,therm_4,therm_5,
                       therm_6,therm_7,therm_8,therm_9,therm_10,therm_11]).groupby(level=0).mean()
date = pd.date_range('2000-01-01 00:00', '2000-12-31 23:56', tz='UTC', freq = '2T')
therm_avg['date_time'] = date
therm_avg

        temp_c0  temp_c5  temp_c13  temp_c21                 date_time
0           NaN      NaN       NaN       NaN 2000-01-01 00:00:00+00:00
1           NaN      NaN       NaN       NaN 2000-01-01 00:02:00+00:00
2           NaN      NaN       NaN       NaN 2000-01-01 00:04:00+00:00
3           NaN      NaN       NaN       NaN 2000-01-01 00:06:00+00:00
4           NaN      NaN       NaN       NaN 2000-01-01 00:08:00+00:00
...         ...      ...       ...       ...                       ...
263514      NaN      NaN       NaN       NaN 2000-12-31 23:48:00+00:00
263515      NaN      NaN       NaN       NaN 2000-12-31 23:50:00+00:00
263516      NaN      NaN       NaN       NaN 2000-12-31 23:52:00+00:00
263517      NaN      NaN       NaN       NaN 2000-12-31 23:54:00+00:00
263518      NaN      NaN       NaN       NaN 2000-12-31 23:56:00+00:00

[263519 rows x 5 columns]

In [4]:
fpp.depth_line(therm_avg, '11-year averaged temperature at Stillwater Cove')

IndexError: index 12 is out of bounds for axis 0 with size 12

In [ ]:
fpp.depth_line(therm_2, 'Water temperature in Stillwater Cove, 2002', 5, 9)
fpp.depth_pcol(therm_2, 'Water temperature color plot, 2002', 5, 9)

In [ ]:
fpp.spec_analysis(therm_2['temp_c0'], 720., 20.1312, 'C', 'Temperature spectra at 0m', 1E-12, 1E3)

In [ ]:
fpp.spec_analysis(therm_2['temp_c5'], 720., 20.1312, 'C', 'Temperature spectra at 5m', 1E-12, 1E3)

In [ ]:
fpp.spec_analysis(therm_2['temp_c13'], 720., 20.1312, 'C', 'Temperature spectra at 13m', 1E-12, 1E3)

In [ ]:
fpp.spec_analysis(therm_2['temp_c21'], 720., 20.1312, 'C', 'Temperature spectra at 21m', 1E-12, 1E3)